<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Auto invoice generator</title>
</head>
<body ng-app="autoInvoiceGenerator" style="font-family: 'Arial';">
<div ng-controller="DocumentController">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >
                 <img src="images/logo.png" class="center-block img-fluid">
            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-sm-10" style="font-size: 11px;">
                    <span style="text-decoration: underline">Autoverwertung Kerstingjohänner GmbH Heileforthstr. 93 33758 Schloß Holte</span>
                </div>
                <div class="col-sm-2"
                     style="; font-size: 11px; text-align: center; border-bottom: 1px solid black; ">
                    <span>PKW + LKW An - und Verkauf</span>
                    <span>Verwertung und Entsorgung</span>
                    <span>Reifendienst Ersatzteilhandel</span>
                    <span>KFZ-Meisterbetrieb</span>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-9" style="font-size: 11px; text-align: left;">
                    <p>
                        <span style="display: block">Realschule Augustdorf</span>
                        <span style="display: block">Akazienstr. 11</span>
                        <span style="display: block"><b>D 32832 Augustdrof</b></span>
                    </p>
                </div>
                <div class="col-sm-3">
                    <div style="padding-top:5px;">
                        <section>
                            <ul>
                                <li class="flex justify-between">
                                    <span>Tel:</span>
                                    <span>+49 5207 9105-0</span>
                                </li>
                                <li class="flex justify-between">
                                    <span>Fax: </span>
                                    <span>+49 5207 </span>
                                </li>
                                <li class="flex justify-between">
                                    <span>mail:</span>
                                    <span>mail@avwk.de</span>
                                </li>
                                <li class="flex justify-between">
                                    <span>web:</span>
                                    <span>www.avwk.de</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12">
                    <div class="row" style="float:right;">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Rechnunh-Nr:</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="editable-cell" ng-model="invoice.invoiceNo" placeholder="Invoice number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Kuden-Nr:</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="editable-cell" ng-model="invoice.customerNo" placeholder="Customer number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Ust-Ident-Nr:</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="editable-cell" ng-model="invoice.vatIdNo" placeholder="Vat number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Datum</span>
                            </div>
                            <div class="col-sm-6">
                                <input type="date" class="editable-cell" ng-model="invoice.date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-sm-6" style=" text-align: left;">
                    <div class="alert alert-danger" ng-show="error">
                        <strong>Error!</strong>  Failed to generate document! (Please check what data filled).
                    </div>
                </div>
                <div class="col-sm-6" style=" text-align: right;">
                    <a class="text-success" >
                        <a class="pointer" ng-click="addRow()">Add new Car</a>
                    </a>
                </div>
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-sm-12" style="overflow-x:auto;">
                    <table class="spreadsheet table table-condensed table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="col-sno">Pos</th>
                            <th>KZ</th>
                            <th>Artikel-Nr</th>
                            <th>Bezeichnung</th>
                            <th>Menge</th>
                            <th>Einh.</th>
                            <th>MwSt %</th>
                            <th>Preis €</th>
                            <th>Gessamt €</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="car in cars">
                            <td class="col-sno">
                                <span>{{$index+1}}</span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.kz" placeholder="Kz"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.referenceNo" placeholder="Reference No"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.vin" placeholder="Vin"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.count" placeholder="Count"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.monotonic" placeholder="Monotonic"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.vat" placeholder="Vat"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.priceWithoutVat" placeholder="Price without vat"/>
                                </span>
                            </td>
                            <td>
                                <span>
                                    <input type="text" class="editable-cell" ng-model="car.priceWithVat" placeholder="Price with vat"/>
                                </span>
                            </td>
                            <td>
                                <a class="text-success" >
                                    <a class="pointer" ng-click="removeRow()">Remove car</a>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style=" text-align: left;">
                    <button ng-click="generateInvoiceDocument()">Generate PDF</button>
                </div>
                <div class="col-sm-6" style=" text-align: right;">
                    <div class="loader" ng-show="loading"></div>
                    <a id="download" href="#" ng-show="isGenerated" >Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/lib/jquery-2.0.3.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/DocumentController.js"></script>
<script src="js/app/DocumentService.js"></script>
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/style.css"/>
</html>